<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product CRUD</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 text-center">
        {% block content %}
        <h2>Are you sure you want to delete this product?</h2>
        <p><strong>{{ car.name }}</strong> - {{ car.brand }}</p>
        <p>Model : {{ car.model }}</p>
        <p>Price : Rp{{ car.price }}</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Yes, Delete</button>
            <a type="button" class="btn btn-danger" onclick="window.history.back();">Cancel</a>
        </form>
        {% endblock content %}
    </div>
<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>>
